### Simple Expected Rate of Return (Single security)
Calculate the simple returns of Microsoft ‘MSFT’ for the given timeframe.
$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

#### Import packages

In [1]:
import numpy as np #to work with multidimensional arrays
import pandas as pd #PANel DAta, organise arrays in tables and attach descriptive labels, time series and big database
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import random as rand #random number generator

##### Data extraction

In [4]:
dSec = 'MSFT'
dSource = 'yahoo'
dStart = '1995-1-1'
secA = wb.DataReader(dSec,data_source=dSource,start = dStart)
# Data check @ https://finance.yahoo.com/quote/MSFT/history?p=MSFT
secA.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-20,225.789993,217.289993,217.699997,224.339996,37777300.0,224.339996
2021-01-21,226.300003,222.419998,224.699997,224.970001,30749600.0,224.970001
2021-01-22,230.070007,225.800003,227.080002,225.949997,30124900.0,225.949997
2021-01-25,229.779999,224.220001,229.119995,229.529999,33152100.0,229.529999
2021-01-26,234.179993,230.080002,231.860001,232.330002,49169601.0,232.330002

##### Data analysis

### 1. Simple Return

In [5]:
secA['Simple Return'] = (secA['Adj Close']/secA['Adj Close'].shift(1))-1
secA

,High,Low,Open,Close,Volume,Adj Close,Simple Return
Date,,,,,,,
1995-01-03,3.843750,3.757813,3.843750,3.761719,39545600.0,2.394761,NaN
1995-01-04,3.796875,3.718750,3.765625,3.789063,51611200.0,2.412169,0.007269
1995-01-05,3.812500,3.710938,3.804688,3.726563,39824000.0,2.372380,-0.016495
1995-01-06,3.828125,3.734375,3.742188,3.789063,46681600.0,2.412169,0.016772
1995-01-09,3.812500,3.734375,3.804688,3.765625,46000000.0,2.397249,-0.006186
...,...,...,...,...,...,...,...
2021-01-20,225.789993,217.289993,217.699997,224.339996,37777300.0,224.339996,0.036500
2021-01-21,226.300003,222.419998,224.699997,224.970001,30749600.0,224.970001,0.002808
2021-01-22,230.070007,225.800003,227.080002,225.949997,30124900.0,225.949997,0.004356
2021-01-25,229.779999,224.220001,229.119995,229.529999,33152100.0,229.529999,0.015844
2021-01-26,234.179993,230.080002,231.860001,232.330002,49169601.0,232.330002,0.012199

In [6]:
type(secA)

pandas.core.frame.DataFrame

In [ ]:
#Plotting
secA['Simple Return'].plot(figsize=(8,5))
plt.show
#need

### 1a. Average Simple Returns

In [ ]:
avg_sReturn_d = secA['Simple Return'].mean()*250 #data provided only shows trading days per year, 250 is average yearly trading days
print (str(round(avg_sReturn_d,5)*100)+'%')

### 2. Log Return
Calculate the Log returns for Microsoft.<br>
Plot the results on a graph.<br>
Estimate the daily and the annual mean of the obtained log returns.<br>
Print the result in a presentable form.<br>
$$
ln(\frac{P_t}{P_{t-1}})
$$

In [ ]:
dSec = 'MSFT'
dSource = 'yahoo'
dStart = '1995-1-1'
secA = wb.DataReader(sec,data_source=dSource,start = dStart)

In [ ]:
secA['log Return'] = np.log(secA['Adj Close']/secA['Adj Close'].shift(1))
secA

In [ ]:
secA['log Return'].plot(figsize=(8,5))

Daily mean (avg_lReturn_d)

In [ ]:
avg_lReturn_d = secA['log Return'].mean()
avg_lReturn_d

Annual mean (avg_lReturn_a), trading days only

In [ ]:
avg_lReturn_d = secA['log Return'].mean()*250
print (str(round(avg_lReturn_d,5)*100)+'%')